<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olist - {{title}} </title>
</head>
<body>
    <h1>{{title}}</h1>
    <form action="/category/save"> 
        id: <input type="text" name="id" id="id" value="{%if data %}{{data.id}}{%endif%}" readonly><br />
        name: <input type="text" name="name" id="name" value="{%if data %}{{data.name}}{%endif%}"> <br />
        description: <input type="text" name="description" id="description" value="{%if data %}{{data.description}}{%endif%}"><br />
        <input type="submit" value="Save">
    </form>
    <a href="/category">Voltar para o módulo categoria</a>
</body>
</html>