<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olist-product</title>
</head>
<body>
    <h1>{{title}}</h1> 
    <a href="/product/form">Novo produto</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %} 
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.categories}}</td>
                    <td><a href="/product/form?id={{item.id}}">Update</a></td>
                    <td><a href="/product/delete?id={{item.id}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/">Voltar menu principal</a>
</body>
</html>